body {
  background-color: #ffffff67;
  /* background-image: url(https://media.giphy.com/media/YpMYUdwJvFkkd5lL1q/giphy.gif); */
  /* background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%); */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:rgb(50, 2, 71);
  font-size: 1.5rem;
  /* background-repeat: repeat; */
}

@media (max-width: 768px)  {
  body{
    font-size: 1rem;
  }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
	background-image: url(https://media.giphy.com/media/3o7bu9UtZAm1gtGJzi/giphy.gif);
 	background-size: cover;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 10rem;
	line-height: .75;
	margin: 10px 0;

}

@media (max-width: 768px) {
  h1{
    font-size: 5rem;
  }
}
